<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:cache="http://www.springframework.org/schema/cache" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc" 
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:jms="http://www.springframework.org/schema/jms" 
	xmlns:lang="http://www.springframework.org/schema/lang" 
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:oxm="http://www.springframework.org/schema/oxm"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd  
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.2.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd  
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.2.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.2.xsd  
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-4.2.xsd  
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang-4.2.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd  
        http://www.springframework.org/schema/oxm http://www.springframework.org/schema/oxm/spring-oxm-4.2.xsd  
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.2.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd  
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.2.xsd">

	<!-- 全局配置引用@Value(${}) 注意：注解方式重复加载问题 -->
	<context:property-placeholder location="WEB-INF/jdbc.properties" />
    
    

	<!-- 用于${}开头标识的解析,首先在System.getProperty()查找,然后在*.properties查找
	  - 找到后将${}替换成实际值,下文中的${webapp.root}由spring设置为contextPath
	 -->
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	<!-- locations属性用于设置待查找的*.properties -->

    </bean>
    
   
    <!-- 视图解析器，找到相应的jsp文件，并为其提供messagesource等资源 -->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"><value>org.springframework.web.servlet.view.JstlView</value></property>
		<property name="prefix"><value>/views/</value></property>
        <property name="suffix"><value>.jsp</value></property>
		<!--
		<property name="suffix"><value>.jsp</value></property>
		-->
	</bean>
	
    <bean id="messageDao" class="com.senyint.common.dao.MessageDaoImpl">
        <property name="sqlSession" ref="sqlSession"/>
    </bean>
    
    <bean id="HttpHandleBean" class="com.senyint.common.handles.HttpHandle"></bean>
    
    <bean id="SQLProcessingHandle" class="com.senyint.common.handles.SQLProcessingHandle">
        <property name="messageDao" ref="messageDao"/>
    </bean>
    <bean id="LoadDocumentHandle" class="com.senyint.common.handles.LoadDocumentHandle">
        <property name="inParamList">
            <list>
                <value>document</value>
            </list>
        </property>
        <property name="xPathMap">
            <map>  
                <entry key="logicName" value="LOGIC/LOGICNAME:text"/>  
                <entry key="data" value="DATA:map" />
            </map>
        </property>
        <property name="outParamList">
            <list>
                <value>docData</value>
            </list>
        </property>
    </bean>
    <bean id="Request2DocumentHandle" class="com.senyint.common.handles.Request2DocumentHandle">
        <property name="charsetName2" value="GBK" />
        <property name="charsetName1" value="utf-8" />
        <property name="outParamList">
            <list>
                <value>document</value>
            </list>
        </property>
    </bean>
    
    <bean name="/main" class="com.senyint.common.ctrl.CommandController">
        <property name="handleList">
            <list>
                <!-- <ref bean="Request2DocumentHandle" />
                <ref bean="LoadDocumentHandle" /> -->
                <ref bean="SQLProcessingHandle" />
            </list>
        </property>
    </bean>
    
    
    <!-- 引入本地其他spring配置 -->
	<import resource="spring_*.xml" />

</beans>